body{
    background: url(../images/bg-desktop.svg) center center no-repeat var(--primary-dark);
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.cabecalho{
    position: relative;
    width: 100%;
    height: auto;
}

.cabecalho .logo{
    position: relative;
    left: 5%;
    padding-top: 55px;
}

main{
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100% - 124px);
}

.mockup,
.infos{
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
}

.mockup{
    align-items: center;
    width: 55%;
}

.infos{
    flex-direction: column;
    width: 45%;
}

.mockup img{
    width: 85%;
    user-select: none;
}

.infos h1{
    font-family: var(--font-poppins), sans-serif;
    font-size: 43px;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
}

.infos p{
    font-family: var(--font-opens-sans), sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    color: #fff;
}

.btn-register{
    position: relative;
    width: 195px;
    height: 55px;
    background: white;
    border-radius: 30px;
    box-shadow: 3px 3px 15px #3c2c63;
    overflow: hidden;
    cursor: pointer;
}

.btn-register::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--primary-light);
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.btn-register:hover::before{
    transform: translateY(0%);
}

.btn-register button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color: var(--primary-dark);
    transition: color 0.15s ease-out;
}

.btn-register:hover button{
    color: white;
}

.social{
    position: absolute;
    display: flex;
    right: 20%;
    bottom: 10%;
}

.social li{
    margin: 0 15px;
}

.social a{
    position: relative;
    display: flex;
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    transition: border-color 0.2s ease-out;
}

.social li:hover a{
    border-color: var(--primary-light);
    cursor: pointer;
}

.social i{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 22px;
    height: 22px;
    transition: filter 0.05s ease-out;
    color: white;
}

.social li:hover i{
    filter: invert(15%) sepia(40%) saturate(2599%) hue-rotate(240deg) brightness(100%) contrast(100%);
}

.social li:nth-child(3) i{
    width: 27px;
    height: 27px;
}